.summary {
  background: #161130;
}

.summary-info {
  margin: 0 auto;
  width: 85%;
  padding-top: 5%;
}
.summary-overview {
  color: #b4b3bb;
  line-height: 1.55;
  font-size: 1.1rem;
  font-weight: 600;
}

/* ---------- global individual page style --------- */
.secondary-main-header {
   color: #fff;
   font-size: 1.6rem;
   text-transform: uppercase;
   font-weight: 700;
   padding: 3% 0;
}

.casts {
  margin: 5% auto;
  width: 85%;
}

.trailers {
  margin: 0 auto;
  width: 85%;
}
.youtube {
  padding-bottom: 5%;
}

.summary-reviews {
  max-width: 85%;
  padding-bottom: 10%;
  margin: 0 auto;  
}

.reviews-message {
  background:#1A2226;
  max-width: 800px;
  margin: 0 auto;
}

.reviews-message h3 {
  font-size: 1.4rem;
  color:#ffff;
  font-weight: 700;
  padding: 0 0 5% 0;
}

.review-content-innner {
  padding: 40px;
  margin: 8% 0;

}
.actual-message {
  color: #B7BABB;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.55;
}
.see-full-review {
  color: #888D8F;
  font-weight: 800;
  margin-top: 5%;
  display:block;
  text-decoration: none;
  font-size:1rem;
}
.see-full-review:hover{
  color:#ffff;
}

.right-arrow-review {
  color: #888D8F;
  margin-left: 10px;
  font-size: 13px;
}