#mobile_hamburger {
  display: none;
}

@media (max-width: 900px) {
  #mobile_hamburger {
    position: absolute;
    top: 10px;
    z-index: 99;
    left: 88vw;
    display: block;
    z-index: 99;
  }
  .fa-bars,
  .fa-times {
    color: white;
    font-size: 2rem;
  }
}
