#mobile_hamburger {
  display: none;
}

@media (max-width: 900px) {
  #mobile_hamburger {
    position: absolute;
    top: 10px;
    z-index: 99;
    left: 88vw;
    display: block;
    z-index: 999999;
  }
  .fa-bars,
  .fa-times {
    color: white;
    font-size: 2rem;
  }
  .drawer-mobile {
    background: #1b262a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
