.header-carousel-container {
  padding-top: 50px;
}

.carousel-movie-info {
  bottom: 2rem;
  left: 2rem;
  position: absolute;
  text-align: left;
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

.carousel-movie-title {
  color: #fff;
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.7rem;
}

.carousel-slide {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}
