.navbar {
  background: #1b262a !important;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px 0;

  justify-content: space-between;
}
.right-icons {
  display: flex;
}
.right-icons h6 {
  margin-left: 10px;
}
.search {
  margin-right: -10%;
}

.fas {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 30px;
  cursor: pointer;
}
.navbar-logo {
  max-width: 100%;
  width: 50px;
}

@media (max-width: 900px) {
  #navbar-desktop {
    display: none;
  }
  .fas {
    color: #fff;
    font-size: 2rem;
    padding: 15px 0;
  }
}
