.navbar {
  background: #1b262a !important;
}

.toolbar {
  display: flex;
  border: 1px solid red;
  align-items: center;
  justify-content: space-between;
}
.right-icons {
  display: flex;
}
.right-icons h6 {
  margin-left: 10px;
}
.search {
  margin-right: -10%;
}

.fas {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 30px;
  padding: 20px 0;
  cursor: pointer;
}

@media (max-width: 900px) {
  #navbar-desktop {
    display: none;
  }
}
