.footer-container {
  height: 70vh;
  width: 100%;
  background: #131517;
  padding: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Ubuntu", sans-serif;
}

.tmdb-footer-logo {
  max-height: 100px;
  max-width: 200px;
}

.footer-left-section {
}

.footer-right-section {
  justify-items: right;
  grid-template-columns: 1fr;
  display: grid;
}

.footer-menu {
  align-items: center;
  display: grid;
  grid-template-columns: 200px 200px;
}

.footer-h2 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-right: 20px;
}

.footer-menu-a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  margin-right: 20px;
}

.footer-info {
  display: grid;
  margin-top: 30px;
}

.footer-info-item {
  color: white;
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
}

.footer-info-item-title {
  color: rgb(204, 202, 202);
  font-weight: bold;
}

.footer-copyright {
  color: rgb(204, 202, 202);
  margin-top: 60px;
  font-size: 0.9rem;
}

.footer-social-icons {
}

.footer-social-icon {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 10px;
  background: rgb(204, 202, 202);
  cursor: pointer;
  color: black;
}

.footer-social-icon:hover {
  background: white;
}

@media (max-width: 900px) {
  .footer-container {
    padding: 4rem;
    display: block;
  }
  .footer-right-section {
    align-items: center;
    display: grid;
    grid-template-columns: 110px 1fr;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .footer-container {
    padding: 2rem;
    display: block;
    height: 65vh;
  }

  .footer-menu {
    font-size: 1rem;
    display: block;
  }

  .footer-nav {
    margin-top: 30px;
  }

  .footer-h2 {
    display: block;
  }

  .footer-info {
    margin-top: 15px;
  }

  .footer-social-icon {
    font-size: 1rem;
  }
}
