.inifinte-card-link {
  text-decoration: none;
}

.upcoming-cards {
  max-height: 300px;
  opacity: 0.5;
  transition: all 200ms ease-in;
  text-align: left;
  cursor: pointer;
}

.upcoming-cards .images {
  width: 85%;
  position: relative;
  max-height: 300px;
}
.upcoming-cards:hover {
  opacity: 1;
}
.upcoming-cards .images:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.carousel-title {
  color: #ffffff;
  padding-top: 2rem;
  margin-bottom: 5px;
}
.slick-arrow {
  color: #ffffff;
  display: inline-block;
}

.right {
  position: absolute;
  top: 69px;
  right: -60px;
}
.left {
  position: absolute;
  bottom: 150px;
  left: -60px;
}
.left .fa-chevron-left,
.right .fa-chevron-right {
  padding: 10px;
  margin: 0 auto;
  color: #0364e5;
}

.carousel-rating {
  position: absolute;
  margin-top: 1rem;
  background: black;
  color: white;
  top: 0;
  line-height: 1.2;
  font-size: 0.8rem;
  padding-right: 3px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-star {
  font-size: 0.6rem;
  margin: 0;
  padding: 3px;
}
.carousel-genres span {
  color: white;
  font-size: 0.7rem;
  text-align: left;
}
